{% extends "base.html" %} {% load static %} {% block main %}
<div class="doorsPage">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="{% static 'images/accesories.png' %}" width="100%" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <h2 class="title" style="margin-top: 50px">
          De ce sa alegi rulourile exterioare?
        </h2>
        <p class="paragraph">
          <b>Un plus de siguranță și confort pentru fiecare încăpere. </b>Fie că
          renovezi o construcție veche sau construiești una nouă, sistemul de
          rulouri exterioare îndeplinește cerințele pentru protecție solară și
          antiefracție, principalele caracteristici care trebuie prevăzute de un
          rulou cu adevărat eficient. În plus, asigură protecție împotriva
          privirilor indiscrete, protecție anti insecte, dar și un plus de
          confort la interior pentru atunci când cauți clipe de odihnă. Din
          punct de vedere cromatic rulourile pot fi vopsite în
          culoareatâmplăriei sau foliate identic cu texturile ferestrelor.
          Ruloul este prevăzut în partea superioară cu o casetă care va completa
          aspectul estetic al tâmplăriei.
        </p>
      </div>

      <div class="col-lg-6"></div>
    </div>
  </div>
</div>
<div style="padding: 50px; background-color: #f2f2f2"></div>
{% endblock main %}
