{% extends "base.html" %} {% load static %} {% block main %}
<div class="doorsPage">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="{% static 'images/usi.png' %}" width="100%" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <h2 class="title" style="margin-top: 50px">
          De ce sa alegi ușile noastre?
        </h2>
        <p class="paragraph">
          <b>1. Profile de siguranță.</b> Caracteristicile de top ale profilelor
          se regăsesc în calitatea și fiabilitatea ușilor. Materialele folosite,
          asamblarea atentă și experiența noastră garantează uși de cea mai bună
          calitate, durabile și perfect adaptabile fiecărui proiect.
        </p>
        <p class="paragraph">
          <b>2. Panouri decorative.</b> Varietatea foarte bogată de forme și de
          design a panourilor decorative face din alegerea imaginii unei uși un
          adevărat tur de forţă. Orice model de ușă vei alege, aceasta trebuie
          să răspundă cel mai bine nevoilor de imagine, de siguranţă, de
          izolare, dar și personalităţii casei tale.
        </p>
        <p class="paragraph">
          <b>3. Rigidizare pentru siguranță.</b> Oţel cu grosime de 2-2,5 mm,
          armătură sudată cu colțar termosudabil pentru ridigizare și siguranţă
          sporită. Acestea sunt măsurile noastre pentru creșterea rezistenței
          ușilor și pentru creșterea duratei de viață a produsului pe care îl
          vei alege.
        </p>
        <p class="paragraph">
          <b>4. Praguri din aluminiu cu distanțier termic.</b> Pragurile din
          aluminiu cu distanțier termic sunt concepute pentru a asigura un acces
          facil în locuinţă. Pe lângă faptul că fac tranziţia între suprafeţe în
          mod elegant, aceste praguri rezolvă și micile diferenţe de nivel.
          Oferă o bună izolare termică, o barieră pentru temperaturile scăzute
          din exteriorul habitatului și continuă linia de design a fiecărei uși.
        </p>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</div>
<div style="padding: 50px; background-color: #f2f2f2"></div>
{% endblock main %}
