{% extends "base.html" %} {% load static %} {% block main %}
<div class="doorsPage">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="{% static 'images/rulouri.png' %}" width="100%" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <h2 class="title" style="margin-top: 50px">
          De ce sa alegi rulourile exterioare?
        </h2>
        <p class="paragraph">
          <b>Un plus de siguranță și confort pentru fiecare încăpere. </b>Fie că
          renovezi o construcție veche sau construiești una nouă, sistemul de
          rulouri exterioare îndeplinește cerințele pentru protecție solară și
          antiefracție, principalele caracteristici care trebuie prevăzute de un
          rulou cu adevărat eficient. În plus, asigură protecție împotriva
          privirilor indiscrete, protecție anti insecte, dar și un plus de
          confort la interior pentru atunci când cauți clipe de odihnă. Din
          punct de vedere cromatic rulourile pot fi vopsite în
          culoareatâmplăriei sau foliate identic cu texturile ferestrelor.
          Ruloul este prevăzut în partea superioară cu o casetă care va completa
          aspectul estetic al tâmplăriei.
        </p>
      </div>
    </div>
    <hr />
    <div class="row" style="background-color: #f2f2f2">
      <div class="col-lg-10">
        <h2 class="title text-center">Tipuri de rulouri</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <img
          class="imgRulou"
          src="{% static 'images/rulouincastrat.png' %}"
          width="100%"
        />
      </div>
      <div class="col-lg-7">
        <div class="contentRulou">
          <h2 class="title2">Rulouri încastrate</h2>
          <p class="paragraph">
            <b
              >Sistemele încastrate de rulouri exterioare Barrier sunt concepute
              pentru montare la construcțiile noi, sistemul fiind speci al
              conceput pentru a fi încastrat în perete. </b
            >Poți alege tencuirea lui, caseta de rulare fiind practic
            invizibilă. Rulourile încastrate pot fi adaptate la orice tip de
            design al clădirii, având o diversitate cromatică vastă. Pe scurt,
            acord cromatic perfect cu tabloul de tâmplărie ales. Fiecare rulou
            este prevăzut cu elemente de aluminiu de înaltă calitate, foarte
            rezistente la uzură și intemperii. Aceste sisteme de rulouri
            contribuie la izolarea fonică și termică a clădirii, ceea ce permite
            atât o reducere consistentă a cheltuielilor cu încălzirea în sezonul
            rece, dar și răcoare la interior în sezonul cald. Utilizarea
            sistemului individual de plase oferă un plus de protecție împotriva
            insectelor, fără a obstrucționa pătrunderea luminii naturale și a
            aerului.
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="background-color: #f2f2f2">
      <div class="col-lg-7">
        <div class="contentRulou">
          <h2 class="title2">Rulouri suprapuse</h2>
          <p class="paragraph">
            <b
              >Similar cu rulourile încastrate, sistemele suprapuse sunt
              concepute pentru montare la construcțiile noi. </b
            >Datorită gamei cromatice largi, acestea sunt un element decorativ
            ideal care poate fi adaptat la tipul unic de design specific
            clădirii. În plus, poți alege culori acordate cromatic la tabloul de
            tâmplărie. Elementele de aluminiu sunt foarte rezistente la acțiuni
            mecanice, uzură și intemperii. O bună configurare a rulourilor,
            precum și alegerea materialelor potrivite, te protejează de
            privirile nedorite ale curioșilor. Rulourile aplicate fac parte
            componentă din corpul de tâmplărie, contribuind la izolarea fonică
            și termică a clădirii și a spațiilor de la interior. Poți opta
            pentru accesorizarea rulourilor cu un sistem individual de plase
            pentru a oferi un plus de protecție împotriva insectelor, fără a
            obstrucționa pătrunderea luminii naturale și a aerului. Și, te
            bucuri de acționarea rulourilor la alegere: cu panglică, manivelă
            sau electrică, din telecomandă.
          </p>
        </div>
      </div>
      <div class="col-lg-5">
        <img
          class="imgRulou"
          src="{% static 'images/rulousuprapus.png' %}"
          width="100%"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <img
          class="imgRulou"
          src="{% static 'images/rulouaplicat.png' %}"
          width="100%"
        />
      </div>
      <div class="col-lg-7">
        <div class="contentRulou">
          <h2 class="title2">Rulouri aplicate</h2>
          <p class="paragraph">
            <b
              >Sistemele aplicate de rulouri exterioare Barrier sunt concepute
              pentru montare la construcțiile deja existente, pentru
              modernizarea spațiului, sau atunci când vrei să renovezi
              clădirea.</b
            >
            Te bucuri de o gamă cromatică diversă: rulourile aplicate au
            avantajul de a deveni elementul decorativ ideal care poate fi
            adaptat la orice proiect deja existent. Elementele de aluminiu de
            înaltă calitate sunt mai rezistente la abraziune și intemperii. O
            bună configurare a rulourilor, precum și alegerea materialelor
            potrivite, te protejează atât de schimbările climatice dar și de
            ochii curioșilor. Sistemele de rulouri aplicate Barrier contribuie
            la izolarea fonică și termică a clădirii. Ai un plus de confort
            indiferent de anotimp și indiferent de ceea ce se întâmplă la
            exterior. Și acest tip de rulouri permite accesorizarea cu plase
            speciale pentru un plus de protecție împotriva insectelor. Rulourile
            aplicate pot fi acționate cu panglică, manivelă sau cu comandă
            electrică din telecomandă.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="padding: 50px; background-color: #f2f2f2"></div>
{% endblock main %}
