{% extends "base.html" %} {% load static %} {% block main %}
<div class="servicesPage">
  <div class="container text-center">
    <h1 class="title">Serviciile de tâmplărie PVC sau aluminiu</h1>
    <br />
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <p class="paragraph">
          <b>Suntem cu tine de la început, până la final!</b><br />
          Când vine vorba de tâmplăria PVC, suntem o companie care te ducem de
          la A la Z. Îți oferim tot ce ai nevoie de la a-ți alege cele mai
          potrivite ferestre și uși din PVC pentru locuința ta, până la orice
          detaliu cât de mic legat de produsele, serviciile noastre.<br /></p>
          <p class="paragraph2"><b>Care se deruleaza procesul de colaborare cu Marut?</b><br /></p>
          <p class="paragraph"><b>CONSULTANȚĂ</b>: analizăm și discutăm telefonic, prin e-mail sau
          față în față toate detaliile proiectului (măsuratori la fața
          locului).<br />
          <b>CONTRACTARE</b>: odată stabilite detaliile, pregătim oferta tehnică
          și contractul de colaborare.<br />
          <b>OFERTARE</b>: plasăm comanda de produse.<br />
          <b>LIVRARE</b>: ne asigurăm că produsele ajung în siguranță la adresa
          indicată.
          <br />
          <b>MONTAJ</b>: echipa noastră este cea care va efectua montajul
          produselor.
          <br />
          <b>SERVICII POST-VÂNZARE</b>: chiar dacă produsele au ajuns să fie
          montate, colaborarea cu clienții noștri nu se termină aici! Dorim să
          aflăm feedback-ul clientului despre experiența sa cu Marut și să
          ajutăm clientul răspunzând întrebărilor acestuia. În afară de aceste
          servicii, ne ocupăm și de reparații, instalarea de plase de insecte,
          pervaze etc.<br />
          Scrie-ne oricând la adresa de contact informațiile proiectului tău și
          datele tale de contact. Noi vom reveni în cel mai scurt timp pentru a
          discuta detaliile serviciilor de consultanță proiectare și tâmplărie
          PVC.<br /></p>
          <p class="paragraph2"><b>Nu uita: oricâte întrebări ai avea, suntem aici pentru tine!</b></p>
        </p>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  <div style="background-color: #f2f2f2; padding-top: 100px">
    <div class="container" style="padding-top: 100px; padding-bottom: 100px">
      <div class="card contactCard">
        <div class="contactContent">
          <p class="paragraph2">
            Pentru mai multe informații sau nelămuriri legate de serviciile de
            tâmplărie PVC sau aluminiu, poți lua oricând legătura cu echipa
            noastră telefonic sau prin e-mail.
          </p>
          <a class="btn buton" href="/contact/">Contactează-ne</a>
        </div>
        <img src="{% static 'images/2.png' %}" />
      </div>
    </div>
  </div>
</div>
{% endblock main %}
