{% extends "base.html" %} {% load static %} {% block main %}
<div class="windowsPage">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img src="{% static 'images/ferestre.png' %}" width="100%" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <h2 class="title" style="margin-top: 50px">
          De ce sa alegi ferestrele noastre?
        </h2>
        <p class="paragraph">
          <b>1. Profil de calitate superioara.</b> Calitatea profilului trebuie
          sa ofere un aport semnificativ pentru produsul finit. Prin calitate
          superioara intelegem ca profilul va fi fabricat cu materiale (PVC si
          profil pentru armare) de cea mai buna calitate si va avea in structura
          un numar cat mai mare de camere de izolare. Pentru ranforsarea
          profilului se foloseste profil din otel cu grosime mare, ce trebuie sa
          acopere o suprafata cat mai mare in interiorul acestuia.
        </p>
        <p class="paragraph">
          <b>2. Geam termoizolant calitativ.</b> Sticla ferestrelor joaca un rol
          important in tot ansamblul care se fabrica. Fiind vorba despre o
          suprafata mare si care este, de regula, expusa atat radiatiei solare,
          dar mai ales temperaturii mediului exterior, este necesar ca sticla
          termopan sa fie de calitate. Profilul ales permite montarea unor
          geamuri termopan duble sau triple.
        </p>
        <p class="paragraph">
          <b>3. Feronerie superioara.</b> Mecanismul cu care actionati canatele
          este cunoscut cu denumirea generica de feronerie. Cu cat aveti nevoie
          de mai multa flexibiltate pentru manevrare, cu atat feroneria trebuie
          sa fie mai durabila. Intotdeauna veti avea de ales din cel putin doua
          marci de feronerie cu care sa fie echipata tamplaria din PVC.
        </p>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</div>
<div style="padding: 50px; background-color: #f2f2f2"></div>
{% endblock main %}
